.aboutus{
text-align: center;
color: darkslateblue;
font-weight: bold;
}

h6{
   color: white;
    font-style: italic;
}



.aboutus1{
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 300px;
    height: 350px;
    box-shadow: 4px 2px 2px 2px deepskyblue;
}